header {
    text-align: center;
    background-color: lightblue;
    color: white;
}

#customfooter {
    text-align: center;
    background-color: lightblue;
    color: black;
}

#first {
    color: green;
}

.second {
    color: orangered;
}